PORT=3001

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=sua_senha
MYSQL_DATABASE=pet_alimentacao

JWT_SECRET=troque_este_jwt_secret_por_um_valor_forte

MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_ALIMENTACAO=pet/+/alimentacao
MQTT_TOPIC_COMANDO=pet/{device_id}/comando